.user-details {
  height: fit-content;
  top: 10%;
  position: sticky;
}

.posts-feed-div {
  min-height: 50vh;
}

#newposttextarea,
.newpostbutton {
  background-color: var(--theme-bg);
  color: var(--theme-text-clr);
}

#newposttextarea::placeholder {
  color: var(--theme-text-clr);
}

@media (max-width: 600px) {
  .user-details {
    position: static;
    width: 95%;
    margin: auto;
  }
}
